<!--
    Home Page: landing page for users that go to our website
-->
<div class="intro">
    <h1>Welcome to ReWrite</h1>
    <p>In order to use this product, please input your own OpenAI API Key and a small PDF document</p>
    <a routerLink="/translate">Try Here! (Work in Progress)</a>
</div>

<div class="tutorial">
    <h2>How to use the product:</h2>
    <ol>
        <li>Create an account with <a href="https://platform.openai.com/signup">OpenAI</a></li>
        <li>Fetch OpenAI API key from your account <a href="https://platform.openai.com/account/api-keys">here!</a></li>
        <li>Insert OpenAI API key into the API Key box</li>
        <li>Upload a PDF file to summarize</li>
        <li>Select the type of translation</li>
        <li>Click the Translate button and wait!</li>
    </ol>
</div>
