<!--
    Home Page: landing page for users that go to our website
-->
<div class="intro">
    <h1>Welcome to ReWrite</h1>
    <p>The tool can be applied to complex scientific research papers, unorthodox formatted documents, or just about any PDF documents.</p>
    <p>We provide a simplified layout, giving the user the ability to easily navigate while trying the tool.</p>
    <p>The tools utilized are OpenAI's API with prompt engineering to effectively and accurately provide a proper summary of the inputted file.</p>
    <a routerLink="/translate">Try Here! (Work in Progress)</a>
</div>

<div class="tutorial">
    <h2>How to use the product:</h2>
    <ol>
        <li>Create an account with <a href="https://platform.openai.com/signup">OpenAI</a></li>
        <li>Fetch OpenAI API key from your account <a href="https://platform.openai.com/account/api-keys">here!</a></li>
        <li>Insert OpenAI API key into the API Key box</li>
        <li>Upload a PDF file to summarize</li>
        <li>Select the type of translation</li>
        <li>Click the Translate button and wait!</li>
    </ol>
</div>
