<!--
    Translate Page: Users can come here to try the product
-->
<div class="container">
    <!--
        OpenAI Api key insertion box: user inputs their own API key here
    -->
    <div class="api-key">
        <label for="api-key">API Key: <input type="text" maxlength="51" #key (input)="onKeyUpload(key.value)"></label>
    </div>
    
    <!--
        Upload button that allows user to summarize the inputted PDF file
    -->
    <div class="file-upload">
        <input type="file" (change)='onFileUpload($event)' class="upload-btn"/>
    </div>

    <!--
        Summary translation type selector, where user can ask for a quick translation or a more thorough summary
    -->
    <div class="select-container">
        <select class="select-box" #type (change)="onTranslationType(type.value)">
           <option value="default" default selected disabled>Select Translation Type</option>
           <option value="quick">Quick</option>
           <option value="deep">Deep</option>
        </select>
    </div>
    
    <!--
        Summarization display box for when the API responds back with the summary of the given document
    -->
    <div class="simplified-box">
        <textarea id="simplified" disabled>{{ translation }}</textarea>
    </div>
    
    <!--
        Translate button that submits the request to the backend which will handle the summarization process
    -->
    <div class="translate">
        <img class="load" *ngIf="loading" src="../../../assets/loading.gif"/>
        <button type="button" [disabled]="loading" (click)="onTranslate($event)">Translate</button>
    </div>
</div>