.btn-warning, .translate {
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    color: #ffff;
    background-color: green;
    border: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.btn-warning input[type="File"] {
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(5);
    opacity: 0;
}

.btn-warning:hover, .translate:hover {
    background-color: darkgreen;
}
