div, div * {
    box-sizing: border-box;
    background-color: #181B21;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 8vh;
    width: 100%;
    padding: 20px 7%;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
}

nav img {
    padding-left: 60px;
}

nav a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 40px;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 20px;
}
